node_red_flow.json
[
    {
        "id": "e2f1d4b6.91b5c",
        "type": "tab",
        "label": "IoMT Streaming ETL Pipeline",
        "disabled": false,
        "info": "Node-RED ETL pipeline: MQTT → Filter → Feature Engineering → HTTP /predict → MongoDB.\nLuồng: HiveMQ Cloud → Cleanse → Enrich → Predict Label → Lưu realtime_health_data + raw_sensor (TTL 30 ngày)."
    },
    {
        "id": "mqtt_in_node",
        "type": "mqtt in",
        "z": "e2f1d4b6.91b5c",
        "name": "HiveMQ — ptit/health/data",
        "topic": "ptit/health/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "hivemq_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "json_parse_node"
            ]
        ]
    },
    {
        "id": "json_parse_node",
        "type": "json",
        "z": "e2f1d4b6.91b5c",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "func_filter_normalize"
            ]
        ]
    },
    {
        "id": "func_filter_normalize",
        "type": "function",
        "z": "e2f1d4b6.91b5c",
        "name": "1. Filter & Normalize",
        "func": "// ══════════════════════════════════════════════════════════\n// Function Node 1: Filter & Normalize (v4)\n// - Maps ESP32 'gsr' → 'gsr_adc'\n// - Adds default device_id\n// - Allows value=0 (sensor not ready yet)\n// - Only rejects truly impossible non-zero values\n// - Supports BOTH ESP32 naming (dht11_room_temp, dht11_humidity,\n//   confidence, dht11_bias) AND simulator naming (room_temp,\n//   humidity) for backward compatibility\n// ══════════════════════════════════════════════════════════\n\nvar d = msg.payload;\nif (!d || typeof d !== 'object') {\n    return null;\n}\n\n// 1. Map ESP32 field names\nif (d.gsr !== undefined && d.gsr_adc === undefined) {\n    d.gsr_adc = d.gsr;\n}\n\n// 2. Default device_id\nif (!d.device_id) {\n    d.device_id = 'esp32_iot_health_01';\n}\n\n// 3. Default missing sensor values to 0\nd.bpm       = (d.bpm !== undefined)       ? d.bpm       : 0;\nd.spo2      = (d.spo2 !== undefined)      ? d.spo2      : 0;\nd.body_temp = (d.body_temp !== undefined) ? d.body_temp : 0;\nd.gsr_adc   = (d.gsr_adc !== undefined)   ? d.gsr_adc   : 0;\n\n// 3b. DHT11: room temperature & humidity\n//     ESP32 firmware sends: dht11_room_temp, dht11_humidity\n//     Simulator may send:    room_temp, humidity\n//     → Try ESP32 name first, fall back to no-prefix name\nd.room_temp = (d['dht11_room_temp'] !== undefined) ? d['dht11_room_temp'] :\n              (d.room_temp !== undefined)           ? d.room_temp           : 0;\nd.humidity  = (d['dht11_humidity']  !== undefined) ? d['dht11_humidity']  :\n              (d.humidity !== undefined)            ? d.humidity            : 0;\n\n// 3c. ESP32 extra fields: confidence & dht11_bias\n//     Default to 0 if not present (backward compat with old simulator data)\nd.confidence  = (d.confidence  !== undefined) ? d.confidence  : 0;\nd.dht11_bias = (d.dht11_bias !== undefined)  ? d.dht11_bias : 0;\n\n// 3d. MAC address from ESP32 (new field)\nvar mac_address = (d.mac_address !== undefined) ? String(d.mac_address) : \"\";\n\n// 4. Cast to float\nvar bpm       = parseFloat(d.bpm);\nvar spo2      = parseFloat(d.spo2);\nvar body_temp = parseFloat(d.body_temp);\nvar gsr_adc   = parseFloat(d.gsr_adc);\nvar room_temp = parseFloat(d.room_temp);\nvar humidity  = parseFloat(d.humidity);\nvar confidence  = parseFloat(d.confidence);\nvar dht11_bias = parseFloat(d.dht11_bias);\n\n// 5. Outlier rejection: BPM, SpO2, body_temp, gsr_adc filters\nif (bpm < 50 || bpm > 120) {\n    node.warn('BPM out of valid range 50-120 (' + bpm + ') — dropping');\n    return null;\n}\n// SpO2: chi chap nhan 80-100\nif (spo2 !== 0 && (spo2 < 80 || spo2 > 100)) {\n    node.warn('SpO2 out of range 80-100 (' + spo2 + ') — dropping');\n    return null;\n}\n// Body temperature: chi chap nhan 30-50\nif (body_temp !== 0 && (body_temp < 25 || body_temp > 50)) {\n    node.warn('Temp out of range 30-50 (' + body_temp + ') — dropping');\n    return null;\n}\n// GSR ADC: chi chap nhan 500-4000\nif (gsr_adc !== 0 && (gsr_adc < 500 || gsr_adc > 4000)) {\n    node.warn('GSR out of range 500-4000 (' + gsr_adc + ') — dropping');\n    return null;\n}\n// 5b. DHT11 validation: room_temp -40..80, humidity 0..100\nif (room_temp !== 0 && (room_temp < -40 || room_temp > 80)) {\n    node.warn('room_temp out of range (' + room_temp + ') — dropping');\n    return null;\n}\nif (humidity !== 0 && (humidity < 0 || humidity > 100)) {\n    node.warn('humidity out of range (' + humidity + ') — dropping');\n    return null;\n}\n\n// 6. Save raw backup for Data Lake (preserves ALL original ESP32 fields)\nmsg.raw_backup = {\n    device_id:      String(d.device_id),\n    mac_address:    mac_address,\n    timestamp:      d.timestamp || Date.now(),\n    mode:           d.mode,\n    bpm:            bpm,\n    spo2:           spo2,\n    body_temp:      body_temp,\n    gsr_adc:        gsr_adc,\n    dht11_room_temp: room_temp,   // always stored as dht11_room_temp\n    dht11_humidity:  humidity,    // always stored as dht11_humidity\n    confidence:       confidence,\n    dht11_bias:      dht11_bias,\n    ingested_at:     new Date()\n};\n\n// 7. Clean payload for next node\nmsg.payload = {\n    device_id:   String(d.device_id),\n    mac_address: mac_address,\n    timestamp:   d.timestamp || Date.now(),\n    bpm:         bpm,\n    spo2:        spo2,\n    body_temp:   body_temp,\n    gsr_adc:     gsr_adc,\n    room_temp:   room_temp,\n    humidity:    humidity,\n    confidence:  confidence,\n    dht11_bias:  dht11_bias,\n    mode:        d.mode\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "func_feature_eng"
            ]
        ]
    },
    {
        "id": "func_feature_eng",
        "type": "function",
        "z": "e2f1d4b6.91b5c",
        "name": "2. Feature Engineering",
        "func": "// ══════════════════════════════════════════════════════════\n// Function Node 2: Feature Engineering\n// Computes 8 derived features to match train_model.py exactly.\n// Uses epsilon = 1e-6 to prevent division by zero.\n// ══════════════════════════════════════════════════════════\n\nvar d   = msg.payload;\nvar eps = 1e-6;\n\nvar bpm       = d.bpm;\nvar spo2      = d.spo2;\nvar body_temp = d.body_temp;\nvar gsr_adc   = d.gsr_adc;\nvar room_temp = d.room_temp;\nvar humidity  = d.humidity;\n\n// ── 8 Engineered Features (mirroring train_model.py) ────\n\n// 1. bpm_spo2_ratio = bpm / (spo2 + eps)\nd.bpm_spo2_ratio = bpm / (spo2 + eps);\n\n// 2. temp_gsr_interaction = body_temp * gsr_adc / 1000\nd.temp_gsr_interaction = body_temp * gsr_adc / 1000;\n\n// 3. bpm_temp_product = bpm * body_temp\nd.bpm_temp_product = bpm * body_temp;\n\n// 4. spo2_gsr_ratio = spo2 / (gsr_adc + eps)\nd.spo2_gsr_ratio = spo2 / (gsr_adc + eps);\n\n// 5. bpm_deviation = abs(bpm - 75)\nd.bpm_deviation = Math.abs(bpm - 75);\n\n// 6. temp_deviation = abs(body_temp - 36.8)\nd.temp_deviation = Math.abs(body_temp - 36.8);\n\n// 7. gsr_deviation = abs(gsr_adc - 2200)\nd.gsr_deviation = Math.abs(gsr_adc - 2200);\n\n// 8. physiological_stress_index = (bpm - 75)/75 + (gsr_adc - 2200)/2200\nd.physiological_stress_index = (bpm - 75) / 75 + (gsr_adc - 2200) / 2200;\n\n// 9. heat_index = body_temp + 0.05 * humidity (DHT11)\nd.heat_index = body_temp + 0.05 * humidity;\n\n// 10. comfort_index = based on room_temp + humidity (DHT11)\n//    0=uncomfortable, 1=comfortable, -1=cold/heat stress\nvar ideal_room_temp = 25; // comfortable room temp C\nvar ideal_humidity  = 60; // comfortable humidity %\nd.comfort_index = 1.0 - Math.abs(room_temp - ideal_room_temp) / 20\n                         - Math.abs(humidity  - ideal_humidity) / 100;\nd.comfort_index = Math.max(-1, Math.min(1, d.comfort_index));\n\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "func_store_before_http"
            ]
        ]
    },
    {
        "id": "func_store_before_http",
        "type": "function",
        "z": "e2f1d4b6.91b5c",
        "name": "Store sensorPayload",
        "func": "// Save the full engineered payload before HTTP request overwrites msg.payload\nmsg.sensorPayload = JSON.parse(JSON.stringify(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "http_predict"
            ]
        ]
    },
    {
        "id": "http_predict",
        "type": "http request",
        "z": "e2f1d4b6.91b5c",
        "name": "POST /predict",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/predict",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1380,
        "y": 200,
        "wires": [
            [
                "func_attach_label"
            ]
        ]
    },
    {
        "id": "func_attach_label",
        "type": "function",
        "z": "e2f1d4b6.91b5c",
        "name": "3. Build Data Lake & Strip Features",
        "func": "// ══════════════════════════════════════════════════════════\n// Function Node 3: Attach Label & Build Data Lake (v5)\n//\n// Luong xu ly:\n//   - final_result (realtime_health_data): chi luu sensor + prediction\n//   - datalake_raw: day du raw + features + metadata (vien vien)\n//\n// final_result chi chua:\n//   device_id, mac_address, timestamp, ingested_at,\n//   bpm, spo2, body_temp, gsr_adc,\n//   room_temp, humidity,\n//   label, confidence\n//\n// datalake_raw chua day du tat ca:\n//   source, device_id, mac_address, timestamp, mode,\n//   raw_payload, sensor, features, prediction,\n//   data_quality, schema_version, ingested_at, processing_latency_ms\n//\n// ══════════════════════════════════════════════════════════\n\nvar sensor = msg.sensorPayload || {};\nvar httpResp = msg.payload;\nvar statusCode = msg.statusCode;\nvar rawPayload = msg.raw_backup || {};\n\n// ── Output 1: final_result / realtime_health_data ────────────\n// Chi luu cac truong thuc su can thiet. KHONG luu engineered features.\nvar finalResult = {\n    device_id:   String(rawPayload.device_id || sensor.device_id || \"unknown\"),\n    mac_address: String(rawPayload.mac_address || \"\"),\n    timestamp:   rawPayload.timestamp || Date.now(),\n    ingested_at: new Date(),\n\n    // 4 sensor chinh\n    bpm:        sensor.bpm,\n    spo2:       sensor.spo2,\n    body_temp:  sensor.body_temp,\n    gsr_adc:   sensor.gsr_adc,\n\n    // 2 DHT11 fields\n    room_temp:  sensor.room_temp,\n    humidity:   sensor.humidity,\n\n    // Prediction\n    label:      null,\n    confidence: null\n};\n\nif (statusCode === 200 && httpResp && httpResp.predicted_label) {\n    finalResult.label = httpResp.predicted_label;\n    finalResult.confidence = httpResp.confidence;\n} else {\n    finalResult.label = \"PENDING/ERROR\";\n    node.warn(\"Prediction failed or Backend Offline. Check FastAPI at port 8000.\");\n}\n\nvar msg1 = { payload: finalResult };\n\n// ── Build Data Lake document (rich metadata) ─────────────────\nvar latencyMs = (rawPayload.timestamp)\n    ? (Date.now() - parseInt(rawPayload.timestamp))\n    : null;\n\nvar datalakeDoc = {\n    // ── Source identification ────────────────────────────────\n    source:         \"mqtt_esp32\",\n    source_topic:   \"ptit/health/data\",\n\n    // ── Device & timing ─────────────────────────────────────\n    device_id:      String(rawPayload.device_id || sensor.device_id || \"unknown\"),\n    mac_address:   String(rawPayload.mac_address || \"\"),\n    timestamp:      rawPayload.timestamp || Date.now(),\n    mode:           rawPayload.mode !== undefined ? rawPayload.mode : null,\n\n    // ── Raw MQTT payload (original, untouched) ──────────────\n    raw_payload:    JSON.parse(JSON.stringify(rawPayload)),\n\n    // ── Normalized sensor values ────────────────────────────\n    sensor: {\n        bpm:       rawPayload.bpm,\n        spo2:      rawPayload.spo2,\n        body_temp: rawPayload.body_temp,\n        gsr_adc:   rawPayload.gsr_adc,\n        dht11_room_temp: rawPayload.dht11_room_temp,\n        dht11_humidity:  rawPayload.dht11_humidity,\n        confidence:      rawPayload.confidence,\n        dht11_bias:      rawPayload.dht11_bias,\n        mac_address:     String(rawPayload.mac_address || \"\")\n    },\n\n    // ── Engineered features (ML training features) ─────────\n    features: {\n        bpm_spo2_ratio:             sensor.bpm_spo2_ratio,\n        temp_gsr_interaction:       sensor.temp_gsr_interaction,\n        bpm_temp_product:           sensor.bpm_temp_product,\n        spo2_gsr_ratio:             sensor.spo2_gsr_ratio,\n        bpm_deviation:              sensor.bpm_deviation,\n        temp_deviation:             sensor.temp_deviation,\n        gsr_deviation:              sensor.gsr_deviation,\n        physiological_stress_index: sensor.physiological_stress_index,\n        heat_index:               sensor.heat_index,\n        comfort_index:             sensor.comfort_index\n    },\n\n    // ── Prediction result ────────────────────────────────────\n    prediction: (statusCode === 200 && httpResp && httpResp.predicted_label)\n        ? {\n            label:      httpResp.predicted_label,\n            confidence: httpResp.confidence\n        }\n        : null,\n\n    // ── Pipeline metadata ───────────────────────────────────\n    data_quality:    rawPayload.bpm !== 0 && rawPayload.spo2 !== 0 && rawPayload.body_temp !== 0\n                        ? \"normalized\" : \"raw\",\n    schema_version:  \"1.3\",\n    ingested_at:      new Date(),\n    processing_latency_ms: latencyMs\n};\n\n// ── Output 2: datalake_raw (Data Lake) ────────────────\nvar msg2 = { payload: datalakeDoc };\n\nreturn [msg1, msg2];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 200,
        "wires": [
            [
                "mongo_realtime",
                "debug_realtime"
            ],
            [
                "mongo_raw",
                "debug_raw"
            ]
        ]
    },
    {
        "id": "mongo_realtime",
        "type": "mongodb4",
        "z": "e2f1d4b6.91b5c",
        "clientNode": "mongo_client",
        "mode": "collection",
        "collection": "realtime_health_data",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Save → realtime_health_data",
        "x": 1910,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "mongo_raw",
        "type": "mongodb4",
        "z": "e2f1d4b6.91b5c",
        "clientNode": "mongo_client",
        "mode": "collection",
        "collection": "datalake_raw",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Save -> datalake_raw",
        "x": 1920,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_realtime",
        "type": "debug",
        "z": "e2f1d4b6.91b5c",
        "name": "Debug: Realtime Record",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.label",
        "targetType": "msg",
        "statusVal": "payload.label",
        "statusType": "auto",
        "x": 1920,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "e2f1d4b6.91b5c",
        "name": "Debug: Raw Backup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment_pipeline",
        "type": "comment",
        "z": "e2f1d4b6.91b5c",
        "name": "📋 Pipeline: MQTT → Filter → Features → /predict → MongoDB",
        "info": "Architecture: Node-RED Streaming ETL\n\n1. MQTT In: ptit/health/data tu HiveMQ Cloud\n2. Filter & Normalize: Validate + outlier rejection\n3. Feature Engineering: 10 derived features (mirrors train_model.py)\n4. HTTP POST /predict: Python FastAPI ML endpoint\n5. Build Data Lake: luu raw MQTT payload + rich metadata\n6. MongoDB Output:\n   - realtime_health_data: 12 fields (sensor + prediction, KHONG co engineered features)\n   - datalake_raw: raw payload + features + metadata (Data Lake, vĩnh viễn)\n\nData Lake Schema (datalake_raw):\n   source, source_topic, device_id, mac_address, timestamp, mode,\n   raw_payload, sensor, features, prediction,\n   data_quality, schema_version, ingested_at, processing_latency_ms\n\nfinal_result Schema (VIEW tren datalake_raw):\n   device_id, mac_address, timestamp, ingested_at,\n   bpm, spo2, body_temp, gsr_adc,\n   room_temp, humidity,\n   label, confidence\n\nESP32 Payload fields:\n   device_id, mode, timestamp, bpm, spo2, body_temp, gsr_adc,\n   dht11_room_temp, dht11_humidity, confidence, dht11_bias\n\nLuu y:\n   - Python server phai chay tai http://localhost:8000\n   - Hay import lai MQTT credentials sau khi import flow\n   - Chay lai recreate_final_result_view.py sau khi deploy flow nay",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "comment_credentials",
        "type": "comment",
        "z": "e2f1d4b6.91b5c",
        "name": "⚠ Nhập lại MQTT Username/Password sau import",
        "info": "Nhấn đúp vào node 'HiveMQ' → Bấm hình cây bút ở HiveMQ Cloud Broker → Chuyển sang Tab Security và nhập lại:\nUsername: Ptit1234\nPassword: Ptit1234\n(Node-RED tự xoá password khi export)",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "hivemq_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "6b09ec30252741efa972f3f845ce726d.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "nodered_client_ptit",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "sessionExpiry": ""
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mongo_client",
        "type": "mongodb4-client",
        "name": "Local MongoDB",
        "protocol": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "dbName": "iomt_health_monitor",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsInsecure": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsAllowInvalidCertificates": false,
        "tlsAllowInvalidHostnames": false,
        "uri": "mongodb://127.0.0.1:27017/iomt_health_monitor",
        "uriTabActive": "tab-uri-simple"
    }
]